/* override bootstrap styles */
/* @import url(https://fonts.google.com/specimen/Sacramento/); */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');



body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
}
.navbar-form input, .form-inline input {
  width:auto;
}

/* .form-inline .form-controlpull-left{
  width: 90px;
} */
h1,h2,h3,.highlight,.navbar a,.head1 h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}
button[type="submit"]{
  width: 30px;
  height: 27px;
  margin-top:10%;
  
  /* margin-left: auto; */
}
input[type="text"]{
  width: 100px;
  margin-top:10%;
  color: #111166;
}
input[type="submit"]{
    text-align: center;
    width: 10%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 40px;
    outline: none;
    border: none;
    background:     #003366;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: white;
}


.head1 {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}

.head1 h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

.head1 .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

/* @media screen and (min-width: 768px) {
  .head1 h1 {
    font-size: 80px;
  }
} */

.navbar-bright {
  background-color:#111166;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, .head1 h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}


footer {
  position: fixed;
  height: 3em;
  padding-top: 9px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:grey;
  color:black;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
 
}

/* New Book Style */




  
input[type=text] {

  text-align: center;
  /* margin-top: 30px; */
     width: 60%; 
    box-sizing: border-box;
    /* padding: 12px 5px; */
    /* padding-left: 10px ; */
    /* background: rgba(0,0,0,0.10);
    outline: none;
    border: #3088FF; */ 
    /* border-bottom: 1px white; */
    
    /* border-radius: 5px; */
    /* margin: 5px;
    font-weight: bolder; */
}
#up{
 background-color: #646464;
 color: #ffffff;
}
#del{
  background-color: brown;
  color: #ffffff;
}